pdf_lessons/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual envs
venv/
.venv/
.env/
.envrc

# VSCode/Jupyter/OS
.vscode/
.ipynb_checkpoints
.DS_Store

venv/
pdf_lessons/
chroma_db/

